@import "variables";


@mixin text($color,$fontFamily,$fontSize, $fontWeight, $lineHeight) {
  color: $color;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  text-align: center;
}

@mixin flexStyle($dir, $alineItems, $jusContent) {
  display: flex;
  flex-direction: $dir;
  align-items: $alineItems;
  justify-content: $jusContent;
}

@mixin vector($left,$top) {
  position: absolute;
  width: 0;
  height: 80%;
  left: $left;
  top: $top;
  border-left: 1px dashed #005FB8;
}

@mixin vectorHorizon($left,$top) {
  position: absolute;
  width: 70%;
  height: 0;
  left: $left;
  top: $top;
  border-top: 1px dashed #005FB8; 
}

@mixin pseudoEl($height, $width) {
  content: '';
  height: $height;
  width: $width;
}
