@import "src/styles/variables";
@import "src/styles/mixins";

.container {
  background-color: #e0f1ff;
  margin-left: 236px;

  // @media (max-width: 768px) {
  //   width: 87.5%;
  //   margin: 0 auto;
  // }

  .contentContainer {
    min-height: 87vh;
    position: relative;
    overflow: "auto";
    position: relative;

    &:before {
      @include pseudoEl(300px, 200px);
      @include vector(50%, 10%);
    }
    &:after {
      @include pseudoEl(300px, 200px);
      @include vectorHorizon(15%, 50%);
    }
    .button {
      display: flex;
      justify-content: flex-end;

      .buttonIcon {
        cursor: pointer;
        margin-top: 20px;
        margin-right: 20px;
        width: 29px;
        height: 29px;
      }
    }
    .content {
      display: grid;
      gap: 10px;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      height: 100vh;
      justify-content: center;
      justify-items: center;
      align-content: center;
      align-items: center;
    }
  }
}
