@import "src/styles/variables";
@import "src/styles/mixins";

.displayContainer {
  @include flexStyle(column, center, center);
  position: absolute;
  z-index: 1;
  top: 83px;
  right: 20px;
  gap: 12px;
  box-sizing: border-box;
  width: 296px;
  background: $textColor2;
  border: 1px solid $borderColor1;
  border-radius: 20px;
  padding: 26px 0 26px 0;
}
